{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Products</h2>
    </div>

    {% if products %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">

                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" style="height:200px;  object-fit:contain;">
                {% else %}
                    <img src="{% static 'images/no-image.png' %}" class="card-img-top" style="height:220px;">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>

                    <p class="text-muted small">
                        {{ product.description|truncatechars:70 }}
                    </p>

                    <div class="mt-auto">
                        <p class="fw-bold text-success mb-2">₹{{ product.price }}</p>

                        {% if product.stock > 0 %}
                            {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm w-100">
                                View Details
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm w-100">
                                View & Buy
                            </a>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-primary btn-sm w-100">
                                View & Buy
                            </a>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-secondary btn-sm w-100" disabled>
                                Out of Stock
                            </button>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
        <p>No products available.</p>
    {% endif %}

</div>

{% endblock %}
